@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap');

:root {
    --pink: #8643DC;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Red Hat Display', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0; padding: 0;
    text-decoration: none;
    transition: all .2s linear;
    list-style: none;
}
body{
    /* background-image: linear-gradient(90deg,white, rgb(247, 242, 243), white); */
    /* background: linear-gradient(180deg, rgba(187, 133, 255, 0.14) 0%, rgba(255, 177, 222, 0.14) 100%); */
    /* filter: blur(150px); */
}
.container {
    max-width: 1237px;
    margin: 0 auto;
}

.btn {
    padding: 14px 49px;
    background: var(--pink);
    border-radius: 100px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
}

.title-text__beffore {
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--pink);
    cursor: pointer;
}
.title-text__beffore::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    left: 0;
    bottom: -10px;
    background: var(--pink);
}
.title-text h1 {
    margin-top: 25px;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #25202F;
}

section {
    margin-top: 100px;
}
/* header */
.header {
    margin-top: 50px;
}
.header .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-menue {
    display: flex;
    align-items: center;
}
.header-logo {
    margin-right: 100px;
}
.header .active__link {
    color: #25202F;
}
.header .nav {
    display: flex;
}
.nav a {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: rgb(149, 146, 146);
    display: inline-block;
    margin-right: 35px;
}
.nav a:hover {
    color: #25202F;
}
.header-menue__icon {
    width: 70px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(198, 185, 233, 0.3);
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    cursor: pointer;
}
/* main */
.main {
    position: relative;
    /* transform: rotate(134.4deg);
    background-color: rgba(90, 248, 153, 0.7);
    filter: blur(250px); */
}
.main .container {
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
} 
.main .text-muted{
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #666666;    
}
.main h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 120px;
    color: #25202F;
}
.main span {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #25202F;
    margin-bottom: 42px;
    display: block;
}
.main-img {
    position: relative;
    top: -46px;
}
.main-img img {
    width: 535px;
    height: 622px;
}

/* services */
.services-boxs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.services-boxs .box {
    margin-top: 50px;
}
.services-boxs .img-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 22px;
}

.services-boxs .img-box img {
    margin-right: 20px;
}
.services-boxs .img-box h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #25202F;
}
.services-boxs p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #47444E;    
}
/* portfolio */
.portfolio {
    position: relative;
}
.backgorund {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(187, 133, 255, 0.14) 0%, rgba(255, 177, 222, 0.14) 100%);
    filter: blur(150px);
    top: 1415px;
    /* transform: rotate(180deg); */
}
.title-text__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}
.title-text__flex a {
    margin-top: 25px;
    text-decoration: underline;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-decoration-line: underline;
    color: #25202F;
}
.title-text__flex a i {
    margin-left: 13px;
    color: var(--pink)
}
.portfolio-sidebar__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
.portfolio-sidebar__img img {
    filter: drop-shadow(0px 20px 50px rgba(220, 192, 255, 0.3));
    border-radius: 10px;
    margin-left: -40px;
}
/* clients */
.client-compayn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 44px;
}
.clients .box {
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    padding: 33px 60px;
}
.clients .box:hover {
    transform: translateY(-10px);
}
.client-compayn p {
    font-weight: 500;
    font-size: 18px;
    margin-top: 30px;
    color: #000000;
}
.client-compayn .client-one {
    background-color: #FFF7FA;
    border: 1px solid #ffe7f0;
    box-shadow: 0 30px 70px 0 #ffe7f0;
}
.client-compayn .client-two {
    border: 1px solid #caffe1;
    background-color: #EDFFF5;
    box-shadow: 0 30px 70px 0 #EDFFF5;
}   
.client-compayn .client-three {
    background: #F5FCFF;
    border: 1px solid #DDF5FF;
    box-shadow: 0 30px 70px 0 #DDF5FF;
}
.client-compayn .client-four {
    background: #FFFBF2;
    border: 1px solid #FFEEC9;
    box-shadow: 0 30px 70px 0 #FFE9BC;
}
.client-compayn .client-five {
    background: #F4FFED;
    border: 1px solid #DBFFC4;
    box-shadow: 0 30px 70px 0 #DBFFC4;
}


@media (max-width: 1280px) {
    .container {
        padding: 0 3rem;
    }
}
@media (max-width: 1120px) {
    .portfolio-sidebar__img img {
        width: 450px;
        height: auto;
    }
}
@media (max-width: 1200px) {
    .client-compayn {
        justify-content: space-around;
    }
    .client-compayn .box {
        margin-right: 50px;
        margin-top: 30px;
    }
}
@media (max-width: 1085px) {
    .main-img img {
        width: 400px;
        height: 500px;
    }
}
@media (max-width: 950px) {
    .main-img {
        top: 0;
        width: 100%;
    }
    .main-img img {
        width: 535px;
        height: 622px;
    }
}
@media (max-width: 750px) {
    nav {
        position: fixed;
        width: 100%;
        /* height: 100vh; */
        left: -110%;
        top: 35px;
        z-index: 100;
        text-align: center;
    }
    .header-menue__icon {
        z-index: 200;
        position: fixed;
        right: 10%;
    }
    .nav {
        flex-direction: column;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .active {
        left: 0;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        background: #fff;
    }
    ul li a {
        margin-top: 40px;
        margin-right: 0 !important;
    }
}
@media (max-width: 620px) {
    .main-img img {
        width: 100%;
        height: 100%;
    }
    .portfolio-sidebar__img img {
        width: 100%;
        height: 100%;
        margin-left: 0;
    }
    .main h1 {
        font-size: 40px;
        line-height: 1;
        padding: 20px 0;
    }
}


















/* ========================media start============================== */

